body {
	font-family: helvetica;
}

h1  {
	text-align: center;
	font-size: 40px;
}

.logo1 {
		color: blue;
		font-size: 60px;
}

.logo2{
		color: grey;
		font-weight: bold;
}

a {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

h2 {
	text-align: center;
}

h2 .logo1 {
	font-size: 30px;
}

h2 .logo2 {
	font-size: 24px;
}

.tagResult1 a {
	text-decoration: none;
	font-size: 12px;
}

.tagResult2 a {
	text-decoration: none;
	font-size: 18px;
}

.tagResult3 a {
	text-decoration: none;
	font-size: 26px;
}

.tagResult4 a {
	text-decoration: none;
	font-size: 34px;
}

.tagResult5 a {
	text-decoration: none;
	font-size: 42px;
}

.tagResult6 a {
	text-decoration: none;
	font-size: 50px;
}

.resultTitle {
	
}

.resultSnippet {
	color: grey;
	font-weight: bold;
}

#searchForm table {
	    margin-left:auto; 
    	margin-right:auto;
    	text-align: center;
} 

#results {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	
}

#queryResults {
	
	margin-left: auto;
	margin-right: auto;
	
	
}

#container {
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	width: 50%;
}

/* Jquery ui styles */
 .ui-progressbar {
	position: relative;
	width: 400px;
	margin-left:auto; 
    margin-right:auto;


}
.progress-label {
	position: absolute;
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	left: 30%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	color: blue;
}